certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.1
django-bitly==1.1.1
django-crispy-forms==1.6.1
django-environ==0.4.1
django-social-share==1.1.2
django-toolbelt==0.0.1
djangorestframework==3.11.2
gunicorn==19.7.1
idna==2.6
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
psycopg2==2.7.3.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.10.0
static3==0.7.0
urllib3==1.22
whitenoise==3.3.0
