{% extends "base.html" %}

{% block content %}
<h1>More stuff to come</h1>

<p>The plan is to make this place a home for the charts I publish on Twitter. 
It's a work in progress. If you feel it's too slow or if you have specific 
things you want to see: Let me know!</p>

<ol>
    <li>[ ] Dynamic chart generation for different portfolios</li>
    <li>[ ] Caching data</li>   
    <li>[ ] Migrate charts from matplotlib to plotly: Making them more informative</li>
    <li>[ ] Fix an SSL certificate</li>
</ol>

{% endblock %}

